<section class="zeo-js-form">
  <form id="zeo-form">
    <div class="container">
      <h1>Signup</h1>
      <p>Please fill in this form to Signup</p>
      <hr>

      <div>
        <label for="name"><b>Name</b></label>
        <input type="text" name="name" id="name" placeholder="Enter your name" required>
      </div>

      <div>
        <label for="email"><b>Email</b></label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>
      </div>

      <div>
        <label for="phone"><b>Phone</b></label>
        <input type="tel" name="phone" id="phone" placeholder="9876543210" pattern="[0-9]{10}" required>
      </div>

      <button type="button" class="signup-btn">Signup</button>
    </div>
  </form>
</section>